<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <div id="navbar">
      <h2>Blog <a href="blog.html"></a> </h2>
    </div>

    {% block content %}
    {% endblock %}

  </body>
</html>
