{% extends "base.html" %}

{% block content %}
<h2>Welcome {{ author }} </h2>
    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
    {% if sunny %}
      <p>Today is sunny</p>
    {% else %}
      <p>Today is rainy</p>
    {% endif %}

    {% for post in posts %}
      <h3> {{post.title}} </h3>
      <h4> Author: {{post.author}} </h4>
    {% endfor %}
{% endblock %}
